.authorization {

    &__section {
        padding: 200px 200px;
    }

    &__form {
        margin-top: 15px;
        display: grid;
        grid-template: repeat(3, 1fr) /1fr;
        padding: 0px 200px;

        &-input {
            position: relative;

            input {
                width: 100%;
                height: 55px;
                background: rgb(255, 255, 255);
                border-radius: 20px;
                padding: 20px;
                font-style: normal;
                font-weight: 400;
                @include adaptiv-font(20, 14);
                line-height: 30px;
                border: none;
                letter-spacing: 0.01em;
                color: #7DA5C1;

                //сука як я заєбався
                &:hover,
                &:focus,
                &:active {
                    background: #E7ECF3;
                    border: none;
                }

            }

            label {
                font-style: normal;
                font-weight: 600;
                @include adaptiv-font(20, 14);
                line-height: 30px;
                color: #225274;
            }

        }

        &-block {
            display: grid;
            grid-template: 1fr/1fr 1fr;

            &-text {
                font-style: normal;
                font-weight: 500;
                @include adaptiv-font(20, 10);
                line-height: 30px;
                color: #000000;
            }

            &-checkbox {
                label {
                    font-style: normal;
                    font-weight: 500;
                    @include adaptiv-font(24, 14);
                    line-height: 30px;
                    color: #000000;
                }

                input {
                    width: 20px;
                    height: 20px;
                }
            }

        }

        &-register {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {
                margin-top: 10px;
                font-style: normal;
                font-weight: 400;
                @include adaptiv-font(24, 14);
                line-height: 36px;
                color: #225274;
            }

            &-login {
                font-style: normal;
                font-weight: 400;
                @include adaptiv-font(24, 14);
                line-height: 36px;
                color: #fff;
                margin-top: 10px;

                a {
                    color: #225274;
                }
            }
        }
    }

    .first {
        left: 2%;
        top: 80%;
    }

    .second {
        right: -9%;
        top: 56%;
    }

    .third {
        bottom: -15%;
        right: -8%;
    }

}

// я в рот єбав цю верстку блять